<main class='showDay'>
    <div id="dayNav">
        <div class="arrows">
            <a href="/user/<%= month.num %>/<%= day.previousDay %>"><i class="fas fa-chevron-left"></i></a><span><a href="/user/<%= month.num %>/<%= day.nextDay %>"><i class="fas fa-chevron-right"></i></a></span>
        </div>
        <h2 id='showDay'>
            <%= month.name %>
                <%= day.num %>
        </h2>
    </div>
    <p>
        hello
        <%= currentUser.name %>
    </p>
    <div class="arrows">
        <a href="/user/<%= month.num %>"><i class="fas fa-chevron-left"></i>Back to <%= month.name %></a>
    </div>
</main>