<main class='advice'>
    <h3>Summary</h3>
    <section class="data-search">
        <h5>Cycle Data</h5>
        <p><i class="far fa-clock fa-sm"></i> Average cycle length:
            <%= user.avgCycle %> Days</p>
        <p><i class="far fa-clock fa-sm"></i> Average period length:
            <%= user.avgPeriod %> Days</p>

    </section>
    <section class="data-search">
        <h5>My Medications <a class=" tooltipped" data-position="right" data-tooltip="To add a medication, search by name in Advice"><i class="fas fa-info-circle fa-xs"></i></a></span>
        </h5>
        <ul>
            <% for( let i = 0; i < meds.length; i++ ) { %>
                <li class="list" id="med-list">
                    <i class="fas fa-prescription-bottle fa-sm"></i>
                    <%= meds[i].name.slice(0,1).toUpperCase() + meds[i].name.slice(1,meds[i].length)%>
                </li>
                <% } %>
        </ul>
    </section>
    <section class="data-search">
        <h5>Symptom Search</h5>
        <form action="/user/summary/symptoms" method="GET">
            <div class="input-field">
                <label for="searchbar">Type:</label>
                <input type="text" name="type" id="searchbar">
                <span class="helper-text">Search your symptoms by type</span>
            </div>
            <div class="input-field">
                <input class="btn btn-secondary" type="submit" value="SEARCH">
            </div>
        </form>
        <% if (results.length > 0) { %>
            <h5>Results for
                <%= results[0].type.slice(0,1).toUpperCase() + results[0].type.slice(1,results[0].length) %>
            </h5>
            <ul>
                <% for( let i = 0; i < results.length; i++ ) { %>
                    <li class="list" id="symptom-list">
                        <div class="date">
                            <i class="fas fa-angle-double-up fa-sm"></i>
                            <%= [results[i].date.getMonth()+1, results[i].date.getDate(), results[i].date.getFullYear()].join('/')%>
                                :
                        </div>
                        <div class="symptom-severity">
                            <% for( let j = 1; j <= results[i].severity; j++ ) { %>
                                <i class="fas fa-square" id="filled"></i>
                                <% } %>
                                    <% if (results[i].severity < 5) { %>
                                        <% for( let n = results[i].severity; n < 5; n++ ) { %>
                                            <i class="fas fa-square" id="empty"></i>
                                            <% } %>
                                                <% } %>
                        </div>
                    </li>
                    <% } %>
            </ul>
            <% } %>

    </section>
    <section class="data-search">
        <h5>Date Search</h5>
        <form action="/user/summary/date" method="GET">
            <div class="input-field">
                <label for="date">Date:</label>
                <input type="text" name="date" class="datepicker" id="date">
                <span class="helper-text">Search your data by date (2020 Only at this time)</span>
            </div>
            <div class="input-field">
                <input class="btn btn-secondary" type="submit" value="SEARCH">
            </div>
        </form>
    </section>
</main>