<main class="userhome">
    <h2>
        <%=month%>
    </h2>
    <% periods.forEach(period => { %>
        <p>period start:
            <%= period.startDate %>
        </p>
        <p>period end:
            <%= period.endDate %>
        </p>
        <% }) %>
            <% periodWeeks.forEach(week => { %>
                <p>week:
                    <%= week %>
                </p>
                <% }) %>
                    <% notes.forEach(notes => { %>
                        <% notes.forEach(note => { %>
                            <p>note:
                                <%= note.date %>
                                    <%= note.title %>
                                        <%= note.content %>
                            </p>
                            <% }) %>
                                <% }) %>
                                    <% symptoms.forEach(symptoms => { %>
                                        <%symptoms.forEach(symptom => { %>
                                            <p>
                                                symptom:
                                                <%= symptom.date %>,
                                                    <%= symptom.type %>,
                                                        <%= symptom.severity %>
                                            </p>
                                            <% }) %>
                                                <% }) %>
                                                    <div class="calendar">
                                                        <% monthData.forEach(day => { %>
                                                            <form id='day<%= day.day %>' action="/user/<%= month %>/<%=day.day %>">
                                                                <input type="hidden" name="notes" value="<%=day.notes%>">
                                                                <input type="hidden" name="symptoms" value="<%=day.symptoms%>">
                                                                <input type="hidden" name="period" value="<%=day.period%>">
                                                                <%#  <a href="javascript:{}" onclick="document.getElementById('day ').submit();return false;">%>
                                                                    <div class="day">
                                                                        <input id="selectDay" type="submit" value='<%= day.day%>'>
                                                                        <p>
                                                                            <%= day.notes %>
                                                                        </p>
                                                                        <p>
                                                                            <%= day.symptoms %>
                                                                        </p>
                                                                        <p>
                                                                            <%= day.period %>
                                                                        </p>
                                                                    </div>
                                                                    </input>
                                                            </form>
                                                            <% }) %>
                                                    </div>
</main>